html {
	background-color: #2F302F; 
	font-family: Arial; 
}

#headerDiv {
	color: white; 
	text-align:center; 
	padding: 25px; 
	font-size:28px;
}

hr{
	color:white; 
	width:85%;
}

.container {
	height:150px; 
	width:150px; 
	border-radius:15px;
	border-color:white;
	box-shadow:2px;
	background-color:darkgrey;
}

.attributes {
	height:85px;
	width:115px;
	border:2x solid white; 
	border-radius:2px;
	background-color:#515151;
	color:white;
	margin-left:7.5%;
}

.attText {
	margin-left:auto;
	margin-right:auto;
}

.attMod{
	margin:auto;
}
