html {
	background-color: #2F302F; 
	font-family: Arial; 
	font-size: 25px; 	
	margin-left:auto;
	margin-right:auto;
}

#headerDiv {
	color: white; 
	text-align:center; 
	padding: 25px; 
}

hr{
	color:white; 
	width: 85%; 	
}

.container {
	height:150px; 
	width:150px; 
	border-radius:15px;
	border-color:white;
	box-shadow:2px;
	background-color:darkgrey;
}