html {
	background-color: #2F302F; 
	font-family: Arial; 
}

#headerDiv {
	color: white; 
	text-align:center; 
	padding: 25px; 
}

hr{
	color:white; 
	width:85%;
}

.container {
	height:150px; 
	width:280px; 
	margin-top:25px;
	display:inline-block;
	box-shadow:2px;
	background-color:#515151;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:white; 

}

.divWrapper {
	margin-left:7.5%;
	margin-right:7.5%;
}

.divText{
	position:relative;
	top:35%;
}

a {
	text-decoration:none; 
	color:white;
}
