html {
    background-color:#303030;
    color:white;
}

p1 {
    font-family:Arial; 
    font-size:220px; 
    
} 

.centered {
    text-align: center;  
    font-family:Arial; 
    font-size:32px; 
}